# Editor annoyances
set zap
set cutfromcursor
set mouse
set linenumbers
set softwrap
include "/usr/local/share/nano/*.nanorc"
include "/opt/homebrew/Cellar/nano/*/share/nano/*.nanorc"
set smarthome
set autoindent
set tabsize 2
set constantshow
set minibar
# Misc
set casesensitive off

# Custom keybindings
bind ^C copy main
bind ^V paste main
bind ^Y undo main
bind ^E redo main
bind ^K cut main
# set modernbindings

